@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&family=Poppins:wght@400;500&display=swap');
html, body {
  margin: 0;
  height: 100%; 
  overflow: hidden
}

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  overflow: auto;
}

.thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.nav{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.nav-h1{
  margin-left: 30px;
  color: white;
}

a {
  text-decoration: none;
}

.home{
  height: 400px;
  background-image: url(https://images.pexels.com/photos/2876511/pexels-photo-2876511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-h1 {
  animation: fade-in linear 4s;
  font-size: 50px;
  background-color:#00d97e;
  border-radius: 15px;
  padding: 0 10px;
}

.home-h2{
  animation: fade-in2 linear 4s;
  font-size: 40px;
  background-color:#00d97e;
  border-radius: 15px;
  padding: 0 10px;
}

@keyframes fade-in{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes fade-in2{
  0%{opacity: 0;}
  10%{opacity: 0;}
  25%{opacity:0;}
  40%{opacity: 0;}
  100%{opacity: 1;}
}


.links{
  width: 100%;
  height: 500px;
  background-image: url(https://images.unsplash.com/photo-1479030160180-b1860951d696?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80);
  border-top: 4px solid #00d97e;
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
}

.about,
.projects,
.contact {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #8affc0;
  border: 4px solid #00d97e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #0eab6c;
}

.about:hover,
.projects:hover,
.contact:hover {
  width: 170px;
  height: 170px; 
  background-color: #9cfff9;
  border: 4px solid #0eaba1;
  color: #0eaba1;
  box-shadow: 0 0 15px #e600c3;
}

.about-body{
  background-color: #8affc0;
  height: 100vh;
}

.about-div{
  width: 82%;
  height: 80%;
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  border: 4px solid #00d97e;
  background-color: white;
  border-radius: 15px;
  margin-top: 50px;
}

.about-p {
  display: block;
  margin: 15px 25px;
  padding: 15px 25px;

}

.projects-background{
  background-color: #8affc0;
  margin: 0;
  padding: 0;
}

.projects-h1{
  background-color: white;
  margin-top: 0;
  height: 50px;
  padding-top: 20px;
  border-bottom: 4px solid #00d97e;
}

.projects-div {
  width: 100%;
  height: 100vh;
  background-color: #8affc0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.projects-card {
  width: 250px;
  height: 260px;
  background-color: white;
  border: 4px solid #00d97e;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
  margin-top: 50px; 
}

.resume {
  width: 700px;
}

@media(max-width: 800px){
  html,
  body{
    height: 200vh;
  }
  .nav{
    justify-content: center;
    margin: 0;
  }
  .nav-h1{
    font-size: 22px;
  }
  .home-nav{
    font-size: 22px;
  }
  .home,
  .links{
    height: 330px;
  }

  .home-h1{
    font-size: 22px;
    width: 90%;
    margin: 0;
  }
  .home-h2{
    font-size: 20px;
  }
  
  .about,
  .projects,
  .contact{
    width: 110px;
    height: 110px;
    font-size: 24px;
  }
  .about-body{
    overflow: auto;
    height: 130vh;
  }
  .about-div{
    height: 800px;
  }
  .about-p{
    font-size: 16px;
    margin: 5px 5px;
    padding: 5px 5px;
  }
  .projects-background{
    height: 160vh;
    overflow: auto;
  }
  .projects-div{
    grid-template-columns: 1fr;
    padding-bottom: 10px;
    height: 160vh;
  }
  .projects-h1{
    font-size: 20px;
  }
  .contact-div{
    height: 130vh;
  }
  .resume{
    width: 400px;
  }

}